{% extends "base.html" %}

{% block content %}
As with most of my projects, the building blocks to this site are available under the BSD Open Source License.
<ul>
  <li><a href='http://github.com/adamfast/docket_faa-2008-0188'>aircraftreregistration</a> (Contains the models / templatetags / fixture data of when certificates expire and are eligible for reissuance)</li>
  <li><a href='http://github.com/adamfast/faadata'>faadata</a> (Contains the models and load scripts necessary to get a copy of the FAA's aircraft database up and running)
</ul>
{% endblock content %}
